.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-image: url(./img/pattern.jpg);
}

h1 {
  text-align: center;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1px 1px;
  margin: 0;
  margin-top: 25px;
  width: 100%;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.col-75 {
  width: 75%;
}
.col-45 {
  width: 45%;
}

.main-content {
  margin-top: 80px;
  background-color: white;
  padding: 1% 2%;
  font-family: 'Times New Roman', Times, serif;
}


.text-center {
  text-align: center;
}

table.list-table {
  border: 1px solid #282c34;
}

.list-table th, td {
  border: 1px;
}

.list-table th {
  background-color: gainsboro;
}

.list-table td {
  border-top: 1px solid #282c34;
}
