
.nav ul {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
  }

.nav li {
    float: right;
  }

.nav li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 18.2px 20px;
    text-decoration: none;
  }

.nav li a:hover {
    background-color: #111;
    color: white;
  }

.nav li {
    border-left: 1px solid #222;
  }

.nav li:last-child {
    border-left: none;
  }
